/****** dropdown-select *******/

.wrap-dd-select {
  display: inline-block;
  margin: 0 0 10px;
  min-width: inherit;
  position: relative;
  width: 100%;
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}

.wrap-dd-select > a {
  color: #8a8a8a;
  background-color: #fff;
  background-image: image-url("dropdown-arrow.png");
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: block;
  font-weight: 400;
  font-size: 13px;
  height: 32px;
  line-height: normal;
  padding: 6px 30px 5px 10px;
  width: 100%;
  &.selected {
    color: #3d3d3d;
  }
}
.wrap-dd-select > a:focus, .wrap-dd-select > a:hover:focus, .wrap-dd-select:hover > a {
  border: 1px solid #f04119 !important;
  outline: none;
  box-shadow: 0 0 5px rgba(240, 65, 25, 0.3);
}

.wrap-dd-select .dropdown {
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 2px;
  max-width: 100%;
  width: 100% !important;
  font-size: 0.875rem;
  height: auto;
  list-style: none outside none;
  margin-left: 0;
  max-height: 300px;
  width: 100%;
  z-index: 89;
  left: -99999px;
  top: 32px;
  pointer-events: none;
  ul {
    margin: 1px;
    max-height: 200px;
    overflow: auto;
    position: relative;
    z-index: 91;
  }
}

.wrap-dd-select.active .dropdown {
  background: transparent;
  left: 0;
  padding-top: 35px;
  top: -2px !important;
  pointer-events: auto;
  &:after {
    background: white;
    border: 1px solid rgba(240, 65, 25, 1) !important;
    border-radius: 4px;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 90;
  }
  input[type="text"] {
    position: relative;
    z-index: 91;
  }
}

.wrap-dd-select .dropdown li {
  line-height: 1.125rem;
  margin: 0;
}

.wrap-dd-select .dropdown li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.wrap-dd-select .dropdown li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.wrap-dd-select .dropdown li:hover {
  background: #f7f7f7;
}

.wrap-dd-select .dropdown li.divider {
  padding: 1px 0 0;
  background: #cccccc;
}

.wrap-dd-select .dropdown li hr {
  margin: 0 0 5px;
}
.wrap-dd-select .dropdown li a.special-link {
  color: #e74328;
  margin-bottom: 5px;
}
.wrap-dd-select .dropdown li a {
  display: block;
  padding: 5px 10px;
  color: #5c5c5c;
  font-size: 13px;
}

.wrap-dd-select .dropdown li.active a {
  color: #e74328;
}
